.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(18, 19, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-code {
  width: 12rem;
  height: 2.5rem;
  border-radius: 1rem;
  color: white;
  border: none;
  cursor: pointer;
}

.code {
  color: #C25Eff;
  letter-spacing: 0.5rem;
}

.name {
  margin-bottom: 1.5rem;
  height: 2.5rem;
  width: 10rem;
  border: none;
  padding-left: 1rem;
  border-radius: 1rem;
}
.name:focus {
  outline: none;
}